html, body {}



.nav {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  }

.nav__logo {
  width: 50px;
  height: 50px;
  }



.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 410px;
  transform: translateX(410px);
  transition: transform 0.4s ease;
  background: rgba(255,255,255,0.9);
  z-index: 1;
  box-shadow: -1px 0px 3px rgba(0,0,0,0.15);
}

.sidebar--visible {
  transform: translateX(0);
}

.sidebar__closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #909495;
  cursor: pointer;
}









#jumbo {
	height: 100%;
	background: url("../images/code.jpg");
	background-size: cover;
	margin-bottom: 0px;
}

.main_page {
	padding:200px 0px 200px 0px;
	color: #ffffff;
}

.main {
  position: relative;
  text-align: center;
  top: 50px;
  margin-bottom: 85px;
  opacity: 0;
  transition: all 0.5s ease-out 0.5s;
  transform: translateY(-40px);
}

.main.fadeIn {
  opacity: 1;
  transform: translateY(0);
 }

.about_me {
	background: #708090;
}

.about_me-text {
	color: #ffffff
}

.myImage {
	margin-top: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.skills_img {
	height: 100px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{ 
	background: #fff !important; 
}