---
title: Portfolio
---
<!DOCTYPE html>
<head>
 <meta charset="utf-8">
 <link href="stylesheets/stylesheet.css" type="text/css" rel="stylesheet">
 <title>Portfolio</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>
  <script src="javascripts/script.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="" class="navbar-brand">Main Page</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">

      <a href="" class="btn btn-warning navbar-btn navbar-right">Download CV</a>
        <ul class="nav navbar-nav">
          <li><a href="#about_me">About Me</a>
          <li><a href="#skills">Skills</a>
          <li><a href="#my_proje">My Projects</a>
          <li><a href="#contact">Contact</a>
        </ul>
      </div>
    </div>
  </nav>
  <div id="fullpage">
    <section class="section firstPage">
      <div class="jumbotron" id="jumbo">
        <div class="container text-center main_page main">
          <h2>Junior</h2>
          <h1>Front-End Developer</h1>
        </div>
      </div>
    </section>
    <section class="section about_me">
      <div class="container" id="about_me">
        <section>
          <div class="col-lg-12 text-center about_me-text main">
            <h2 class="section-heading text-uppercase">About Me:</h2>
            <h3 class="section-subheading main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris tortor, eleifend sit amet fringilla ac, tincidunt id massa. Proin et odio mattis, venenatis lacus vel, faucibus elitVelit culpa labore ut adipisicing do pariatur sint ut id. Nostrud consectetur dolore cupidatat dolore amet velit ex eu eu sunt veniam consectetur. Ad eu esse adipisicing tempor aute quis ullamco veniam excepteur ut ex id ut. Ea anim irure labore laborum magna aliquip sunt pariatur non elit Do est elit dolor qui ex et deserunt fugiat tempor ad.</h3>
          </div>
          <div class="row">
            <div class="col-sm-4 col-md-offset-4 myImage">
              <img src="images/me.jpg" class="img-responsive" alt="image">
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="section">
      <section id="skills">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Skills</h2>
            <h3 class="section-subheading text-muted">Technologies and tools I frequently use</h3>
          </div>
          <div class="row text-center">
            <div class="col-lg-4">
              <div class="technology_photo">
                <img class="skills_img" src="images/html.svg" alt="html5">
              </div>
              <h4 class="service-heading">HTML</h4>
              <p class="text-muted"> Comprehensive knowledge along with implementing semantic HTML5 elements into the code.</p>
            </div>
            <div class="col-lg-4">
              <div class="technology_photo">
                <img class="skills_img" src="images/css3.svg" alt="css3">
              </div>
              <h4 class="service-heading">CSS</h4>
              <p class="text-muted"> Comprehensive knowledge that comes with taking care of RWD as well as complying with DRY and KISS principles.</p>
            </div>
            <div class="col-lg-4">
              <div class="technology_photo">
                <img class="skills_img" src="images/javascript.svg" alt="javascript">
              </div>
              <h4 class="service-heading">JavaScript</h4>
              <p class="text-muted"> Basic understanding of vanilla JavaScript</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-lg-4">
              <div class="technology_photo">
                <img class="skills_img" src="images/jquery.svg" alt="jquery">
              </div>
              <h4 class="service-heading">jQuery</h4>
              <p class="text-muted">Well-grounded knowledge, I try not to overuse on jQuery and limit its application to various animations.</p>
            </div>
            <div class="col-lg-4">
              <div class="technology_photo">
                <img class="skills_img" src="images/sass.svg" alt="sass">
              </div>
              <h4 class="service-heading">SASS/SCSS</h4>
              <p class="text-muted"> Practical knowledge of SCSS syntax (variables, nesting, mixins, inheritance).
              </p>
            </div>
            <div class="col-lg-4">
              <div class="technology_photo">
                <img class="skills_img" src="images/bootstrap.svg" alt="bootstrap">
              </div>
              <h4 class="service-heading">Bootstrap</h4>
              <p class="text-muted"> Advanced knowledge of most features the most popular HTML, CSS and JS framework offers rigt now.</p>
            </div>
          </div>
          <div class="row text-center justify-content-center">
            <div class="col-lg-4 align-self-center"></div>
            <div class="col-lg-4 align-self-center">
              <div class="technology_photo">
                <img class="skills_img" src="images/git.svg" alt="git">
              </div>
              <h4 class="service-heading">Git</h4>
              <p class="text-muted"> Working knowledge of the basic commands of this version control system.</p>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="section">
      <div class="container">
        <section>
          <div class="page-header" id="contact">
              <h2>Contact Me.</h2>
            </div>
              <div class="row">
              <div class="col-lg-4">
                <p>If you are representing a company recruiting a Junior Front-End Developer send an email or give me a call.</p>
                <address>
                  <p>email: <a href="mailto:m.rakowski1987@gmail.com" target="_top"><strong>m.rakowski1987@gmail.com</strong></a></p>
                  </p>Phone: <strong>506 650 433</strong></p>
                </address>
              </div>
              <div class="col-lg-8">
                <form action="" class="form-horizontal">
                  <div class="form-group">
                    <label for="user-name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="user-name" placeholder="Enter you name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="user-email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="user-email" placeholder="Enter you Email Address">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="user-message" class="col-lg-2 control-label">Any Message</label>
                    <div class="col-lg-10">
                      <textarea name="user-message" id="user-message" class="form-control"
                      cols="20" rows="10" placeholder="Enter your Message"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </section>
      </div>
    </section>
  </div>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
